body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Encode Sans Expanded','Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


